/DecoratorConMascota.class
/DecoratorEquipajeBaul.class
/DecoratorViajes.class
/IViaje.class
/Viaje.class
/ViajeFactory.class
/ViajeZonaCalleSinAfaltar.class
/ViajeZonaEstandar.class
/ViajeZonaPeligrosa.class
